@tailwind base;
@tailwind components;
@tailwind utilities;

$xs: 320px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$xxxl: 1950px;

body {
    height: 100%;
    background-color: #fafafa;
    scroll-behavior: smooth;
}
$big-title-size: 35px;
$sub-title-size: 19px;
$text-size: 17px;
$responsive-md-big-title-size: 18px;
$responsive-md-sub-title-size: 14px;
$responsive-md-text-size: 12px;

$responsive-sm-text-size: 8px;
$padding-top-component: 70px;
$padding-bottom-component: 70px;
$responsive-md-padding-top-component: 50px;
$responsive-md-padding-bottom-component: 50px;
$responsive-sm-padding-top-component: 20px;
$responsive-sm-padding-bottom-component: 20px;
$text-color: #333333;

.main-container {
    padding-left: 60px;
    padding-right: 60px;
    @media (max-width: $lg) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (max-width: $md) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    height: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.14);
    display: flex;
    align-items: center;

    background: white;

    @media (max-width: $md) {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .sidebar {
        top: -50px; //hyde 7atyta hyk kermel te3la l sidebar la fw2
        position: fixed;
        left: 0;
        width: 40%;
        height: 100%;
        .sidebar-logo {
            width: 70px;
            height: auto;
            padding-bottom: 15px;
            @media (max-width: $sm) {
                width: 60px;
            }
        }

        background-color: #d0dfe0;
        z-index: 999;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        overflow-y: auto;
        padding-top: 70px;
        @media (max-width: $md) {
            width: 80%;
            height: 150%;
        }
        .side-bar-text {
            font-size: $text-size;
            font-weight: 600;
        }
    }

    .sidebar.open {
        transform: translateX(0);
    }
    //hayde 7atyta minimum width ye3ne kel screen fw2 l md btkoun l sidebar me5etfye
    @media (min-width: $md) {
        .sidebar {
            display: none;
        }
    }

    .header-i {
        font-size: 16px;
        color: $text-color;
        font-weight: 600;
        cursor: pointer;
        transition: text-decoration text-shadow 0.3 ease;

        @media (max-width: $lg) {
            font-size: 12px;
        }
    }
    .header-i:hover {
        color: rgba(#333333, 0.75);
        text-shadow: 2px 7px 4px rgba(#333333, 0.1);
    }

    .header-inner {
    
        width: 100%;
        .logo-name {
            color: $text-color;
            font-weight: 800;
            font-size: 17px;
            @media (max-width: $lg) {
                font-size: 13px;
            }
            @media (max-width: $sm) {
                font-size: 12px;
            }
        }
        .header-logo {
            width: 45px;
            height: auto;
            @media (max-width: $md) {
                width: 35px;
            }
            @media (max-width: $sm) {
                width: 30px;
            }
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
