@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "@fancyapps/ui/dist/carousel/carousel.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

$xs: 320px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$xxxl: 1950px;

* {
    font-family: "Kanit", sans-serif;
}
html {
    scroll-behavior: smooth !important;
}
body {
    min-height: 100vh;
    margin: 0;
    height: 100%;
    background-color: #fafafa;
    scroll-behavior: smooth !important;
    display: flex;
    flex-direction: column;
}

$text-size: 17px;
$text-color: #333333;

.main-container {
    padding-left: 60px;
    padding-right: 60px;
    @media (max-width: $lg) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (max-width: $md) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

header {
    @apply fixed top-0 right-0 left-0  h-[60px] pt-[15px] pb-[15px] shadow-[0_0_40px_rgba(0,0,0,0.14)] flex items-center bg-white;
    z-index: 100;

    @media (max-width: $md) {
        @apply pt-[5px] pb-[5px];
    }

    .sidebar {
        top: -50px; //hyde 7atyta hyk kermel te3la l sidebar la fw2
        position: fixed;
        left: 0;
        width: 40%;
        height: 100%;
        .sidebar-logo {
            width: 70px;
            height: auto;
            padding-bottom: 15px;
            @media (max-width: $sm) {
                width: 60px;
            }
        }

        background-color: #d0dfe0;
        z-index: 999;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        overflow-y: auto;
        padding-top: 70px;
        @media (max-width: $md) {
            width: 80%;
            height: 150%;
        }
        .side-bar-text {
            font-size: $text-size;
            font-weight: 600;
        }
    }

    .sidebar.open {
        transform: translateX(0);
    }
    //hayde 7atyta minimum width ye3ne kel screen fw2 l md btkoun l sidebar me5etfye
    @media (min-width: $md) {
        .sidebar {
            display: none;
        }
    }

    .header-i {
        font-size: 16px;
        color: $text-color;
        font-weight: 600;
        cursor: pointer;
        transition: text-decoration text-shadow 0.3 ease;

        @media (max-width: $lg) {
            font-size: 12px;
        }
    }
    .header-i:hover {
        color: rgba(#333333, 0.75);
        text-shadow: 2px 7px 4px rgba(#333333, 0.1);
    }

    .header-inner {
        width: 100%;
        .logo-name {
            color: $text-color;
            font-weight: 800;
            font-size: 17px;
            @media (max-width: $lg) {
                font-size: 13px;
            }
            @media (max-width: $sm) {
                font-size: 12px;
            }
        }
        .header-logo {
            width: 45px;
            height: auto;
            @media (max-width: $md) {
                width: 35px;
            }
            @media (max-width: $sm) {
                width: 30px;
            }
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.title {
    @apply text-text-color text-[30px] font-[700] pb-[15px];
    @media (max-width: $lg) {
        font-size: 30px;
    }
    @media (max-width: $md) {
        font-size: 25px;
        padding-bottom: 10px;
    }
}
.text {
    @apply text-text-color;
}
.view-more {
    @apply text-text-color font-semibold text-[12px] md:text-[17px];
}
#carousel {
    --f-carousel-spacing: 10px;
    --f-carousel-slide-width: calc(calc(100% - 20px) / 3);

    @media (max-width: $md) {
        --f-carousel-spacing: 5px;
        --f-carousel-slide-width: calc(calc(100% - 5px) / 2);
    }
    @media (max-width: $sm) {
        --f-carousel-slide-width: 100%;
    }
}
